@charset "utf-8";

*
{
    margin: 0;
    padding: 0;
    outline: none;
}

html
{
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    color: #333;
    background-color: #B0BEC5;
    font-size: 1.4em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

a
{
    color: #CFD8DC;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.4s ease;
    -webkit-transition: all.4s ease;
    -ms-transition: all.4s ease;
}

a:hover
{
    color: #fff;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.4s ease;
    -webkit-transition: all.4s ease;
    -ms-transition: all.4s ease;
}

img
{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

hr
{
    display: block;
    margin: 0;
    height: 1px;
    border-top: 1px solid #ccc;
}

.right
{
    float: right;
}
.left
{
    float: left;
}
.clear
{
    clear: both;
}

::selection
{
    background: #F3E5F5;
    color: #fff;
}
::-moz-selection
{
    background: #F3E5F5;
    color: #fff;
}

header, footer
{
    width: 98%;
    background-color: #78909C;
    float: left;
}

header
{
    width: 96%;
    height: 100px;
    padding: 1%;
    padding-left: 3%;
    padding-top: 4%;
    border-bottom: 2px solid silver;
}

#logo
{
    font-size: 3.0em;
    font-family: century gothic, sans-serif;
}

.contact
{
    font-size: 1.2em;
    font-family: Comic Sans MS, sans-serif;
    float: right;
    margin: -25%;
    margin-right: 25%;
}

#ava
{
    background-color: red;
    border-radius: 150px;
    height: 130px;
    width: 130px;
    background-image: url(../Images/ava.jpg);
}

.sep
{
    width: 100%;
    height: 20px;
    background-color: #B0BEC5;
}

#content
{
    margin: 0;
    padding: 0;
    background-color: #D1C4E9;
    width: 100%;
    min-height: 700px;
}

#block-info
{
    width: 100%;
    min-height: 768px;
}

    @media (min-width: 1130px){
    .left-part
    {
        padding-top: 30px;
        float: left;
        margin: 0;
        width: 39.9%;
        max-width: 40%;
        min-height: 1090px;
        background-color: #ECEFF1;
        border-right: 6px solid #B0BEC5;
    }}
    
    @media (max-width: 1129px){
    .left-part
    {
        padding-top: 30px;
        margin: 5%;
        width: 90%;
        min-height: 1090px;
        background-color: #ECEFF1;
        border-right: 6px solid #B0BEC5;
    }}
    
    @media (min-width: 1130px){
    .right-part
    {
        padding-top: 30px;
        float: right;
        margin: 0;
        width: 59.50%;
        max-width: 59.50%;
        min-height: 1090px;
        background-color: #ECEFF1;
    }}
    
    @media (max-width: 1129px){
    .right-part
    {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 5%;
        width: 90.2%;
        max-width: 95%;
        min-height: 1090px;
        background-color: #ECEFF1;
    }}

.myH
{
    color: #00ACC1;
    font-size: 2em;
    font-family: century gothic, sans-serif;
    font-weight: 100;
}

.cent
{
    width:100%;
    min-height: 20px;
    text-align: center;
}

.progressbar 
{
    background-color: #78909C;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 17.5%;
    margin-right: 17.5%;
    width: 65%;
    text-align: left;
}

.progress
{
   background-color: #D4E157;
   width: 75%; /* Adjust with JavaScript */
   height: 30px;
   border-radius: 10px;
}

#evil
{
    float: left;
    text-align: right;
    color: purple;
    border-right: 2px solid #B71C1C;
    width: 35%;
    min-height: 150px;
    padding: 3px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 6%;
}

#good
{
    float: right;
    color: purple;
    border-left: 2px solid #01579B;
    width: 35%;
    min-height: 150px;
    padding: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-right: 6%;
}

.sometime div
{
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid silver;
    width: 65%;
    height: 40px;
    text-align: center;
    padding-top: 1%;
    margin-left: 17.5%;
    margin-top: 2%;
}

.sometime div:hover
{
    background-color: #78909C;
    color: #fff;
    border-radius: 25px;
    transition: all.4s ease;
    border: 2px solid silver;
    width: 65%;
    height: 40px;
    text-align: center;
    padding-top: 1%;
    margin-left: 17.5%;
    margin-top: 2%;
}

ul
{
    list-style-type: none;
}

@media (min-width: 1129px){
footer
{
    width: 100%;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 2px solid silver;
    padding-bottom: 2%;
    height: 62px;
}}

@media (max-width: 1130px){
    footer
    {
        width: 100%;
        color: #fff;
        border-top: 2px solid silver;
        padding-bottom: 4%;
        height: 52px;
}}

footer .right img
{
    max-width: 48px;
    max-height: 48px;
}

#page-wrap:after
{
    content: "";
    display: block;
}

#page-wrap:after, footer
{
    height: 10px;
}

#page-wrap
{
    min-height: 92%;
    margin-bottom: -10px;
}